
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Layout</title>
</head>
<body>

<h1>Box Size</h1>

  
  <h2>#IL Instructions </h2>

  <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/il instructions/IL 0.html">IL 0</a></li>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/il instructions/IL 1.html">IL 1</a></li>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/il instructions/IL 2.html">IL 2</a></li>
  <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/il instructions/IL 3.html">IL 3</a></li>


  
  <h2>#Lines of Code </h2>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/lines of code/LINE 0.html">LINE 0</a></li>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/lines of code/LINE 1.html">LINE 1</a></li>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/lines of code/LINE 2.html">LINE 2</a></li>
    <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/lines of code/LINE 3.html">LINE 3</a></li>


  

  <h2>Constant Area</h2>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Area/Area 0.html">Area 0</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Area/Area 1.html">Area 1</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Area/Area 2.html">Area 2</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Area/Area 3.html">Area 3</a></li>

  <h2>Constant Width</h2>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Width/Constant 0.html">Constant 0</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Width/Constant 1.html">Constant 1</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Width/Constant 2.html">Constant 2</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Box Size/Constant Width/Constant 3.html">Constant 3</a></li>



<h1>Edge Width</h1>

<h1>Highlight Selection's Dependents</h1>

  <h1>Layout Direction</h1>



  
  <h1>Show Edges Title </h1>

  <h2>Show edges</h2>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Show/0.html">0</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Show/1.html">1</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Show/2.html">2</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Show/3.html">3</a></li>
      <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Show/4.html">4</a></li>

  <h2>Don't show edges</h2>

        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/0.html">0</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/1.html">1</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/2.html">2</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/3.html">3</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/4.html">4</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/5.html">5</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/6.html">6</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/7.html">7</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/8.html">8</a></li>
        <li><a href="/ndepend-graph/Github/NDependGraph/Operations and Layout Bar/Layout/Show Edges/Dont show/9.html">9</a></li>


</body>
</html>
